div.carsAndSteps(ng-cloak)
    h2
        | 2. Step 2
    div.carsTable.table-responsive
        table.table.table-striped
            thead
                tr
                    th 
                        | Title
                    th
                        | Description
                    th  
                        | Price
                    th.table__popularity
                        | Popularity
            tbody
                tr(ng-if="selectedCars.length===0")
                    td(colspan=4)
                        | no data

                tr(ng-repeat="car in selectedCars track by $index")
                    td
                        div.carsTable__carForSelect
                            | {{car.title}}
                    td
                        | {{car.description}}
                    td
                        | {{car.price | currency}}
                    td
                        div.rating
                            span(ng-repeat="star in [1,2,3,4,5]" ng-class="{'rating--active': star<=car.popularity}")
                                | ☆ 
        button.btn.btn-success(ng-click="sendData()" ng-if="selectedCars.length > 0")
            | Send Data